.button {
  margin: 0;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;

  /* background: #2563eb;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 6px;
  cursor: pointer;
} */
}
.primary {
  background-color: #2563eb;
  color: white;
}

.primary:hover {
  background-color: #1d4ed8;
}

.secondary {
  background-color: rgba(207, 11, 112, 0.843);
  color: rgba(245, 246, 247, 0.995);
  /* border: 2px solid #2563eb; */
}

.secondary:hover {
  background-color: rgba(207, 11, 112, 0.9);
  color: white;
}
.btnColor1 {
  background-color: rgba(69, 177, 204, 0.441);
  color: rgb(10, 9, 9);
  margin-left: 105px;
  margin-top: 10px;
}
.btnColor2:hover {
  background-color: rgba(69, 177, 204, 0.441);
}
.danger {
  background-color: #dc2626;
  color: white;
}

.danger:hover {
  background-color: #b91c1c;
}
