.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "navbar navbar"
    "sidebar children_position";
  min-height: 100vh;
}
.navbar {
  grid-area: navbar;
  background-color: rgba(244, 237, 240, 0.906);
}

.sidebar {
  grid-area: sidebar;
  background-color: rgba(111, 110, 110, 0.315);
  border-radius: 4px;
}

.children_position {
  grid-area: children_position;
  background-color: rgb(255, 255, 255);
}
